# 변수 내 문자열 수업 중

In [1]:
print('안녕하세요? '박준범'입니다.')
# 아래와 같은 오류가 발생한 이유?
# invalid syntax : python 내에서 가장 많이 보이는 오류 중 하나
# 문법 상 에러가 발생하는 경우 중 하나

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2892615836.py, line 1)

In [2]:
a = 1
b = '번'

In [3]:
print(a + b)
# 아래와 같은 오류가 발생한 이유?
# 똑같은 자료형을 연산해야 하지만 int형과 str형을 연산하려
# 하였음. 따라서 오류 발생

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [4]:
a = '3.3'

In [10]:
type(int(a))
# 아래와 같은 오류가 발생한 이유?
# invalid literal for int() : int형변환 오류이다.
# 현재 a는 int형으로 변환되기 전 '3.3'이라는 문자열로
# 받았기 때문에 int()형 타입 체크를 하면 오류가 발생함.

ValueError: invalid literal for int() with base 10: '3.3'

# 시퀀스 자료형 중 튜플 관련

In [6]:
t = (1,2,3)
print(t)
print(type(t))
print(t[2])

(1, 2, 3)
<class 'tuple'>
3

In [9]:
t[2] = 5
# 아래와 같은 오류가 발생한 이유?
# 'tuple' object does not support item assignment
# 튜플은 내부에서 수정이 불가함.
# why? immutable이기 때문!
# 따라서 튜플은 이와 같은 초기화가 허용되지 않음.
# 단, 리스트는 가능하다.

TypeError: 'tuple' object does not support item assignment

# 함수의 인수 중 위치 인수 관련 오류

In [12]:
def greeting(name = '익명'):
    return f'{name}님 반갑습니다.'
print(greeting('창희'))
print(greeting())
# 위와 같이 '익명' 이라는 기본값을 할당되면 오류 출력X

창희님 반갑습니다.
익명님 반갑습니다.

In [14]:
def greeting(name):
    return f'{name}님 반갑습니다.'
print(greeting('창희'))
print(greeting())
# 위와 같이 '익명' 이라는 기본값을 할당되면 오류 출력X
# 그러나 기본값 할당 없이 인자 안에 아무것도 없으면 error가 발생함.

창희님 반갑습니다.

TypeError: greeting() missing 1 required positional argument: 'name'

In [15]:
def greeeting(name = '익명', age):
    return f'{name}님은 {age}입니다.'
# 마찬가지로 age에 기본값 할당이 되어있지 않으면 오류발생

SyntaxError: non-default argument follows default argument (2339493579.py, line 2)

In [16]:
#기본인자의 순서가 잘못 명시되어 있으면?
#올바른 코드
def greeting(age, name = '익명'):
    return f'{name}님은 {age}입니다.'

print(greeting(10,'홍길동'))
print(greeting(20))

홍길동님은 10입니다.
익명님은 20입니다.

# 함수의 인수 중 이름공간에 관련 오류

In [18]:
str='123'

In [19]:
print(str)

123

In [23]:
str(789)
# str은 문자열을 저장하는 기능을 가짐
# 그러나 str을 변수로 정의해버리면 str은 단순한 변수명이
# 되어 본래의 기능을 잃어버리는 현상이 나타남
# 따라서 예약어 숙지가 필수가 됌

TypeError: 'str' object is not callable